<!--<h3>Avatar</h3>-->
<!--<h4>small</h4>-->
<!--<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'small': true}"></nes-avatar>-->
<!--<h4>medium</h4>-->
<!--<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'medium': true}"></nes-avatar>-->
<!--<h4>large</h4>-->
<!--<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'large': true}"></nes-avatar>-->
<!--<h4>rounded</h4>-->
<!--<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'rounded': true}"></nes-avatar>-->

<!--<h3>Balloon</h3>-->
<!--<h4>no arrow</h4>-->
<!--<nes-balloon>Balloon</nes-balloon>-->
<!--<h4>from left</h4>-->
<!--<nes-balloon [props]="{fromLeft: true}">Balloon From Left</nes-balloon>-->
<!--<h4>from right</h4>-->
<!--<nes-balloon [props]="{fromRight: true}">Balloon From Right</nes-balloon>-->

<!--<h3>Button</h3>-->
<!--<nes-button>Regular button</nes-button>-->
<!--<nes-button [props]="{primary: true}">Primary button</nes-button>-->
<!--<nes-button [props]="{success: true}">Success button</nes-button>-->
<!--<nes-button [props]="{warning: true}">Warning button</nes-button>-->
<!--<nes-button [props]="{error: true}">Error button</nes-button>-->
<!--<nes-button [props]="{disabled: true}">Disabled button</nes-button>-->

<!--<h3>Checkbox</h3>-->
<!--<nes-checkbox>Label</nes-checkbox>-->

<!--<h3>Container</h3>-->
<!--<nes-container>container content</nes-container>-->
<!--<nes-container [props]="{title: 'container title'}">container with title</nes-container>-->
<!--<nes-container [props]="{dark: true}">dark container</nes-container>-->
<!--<nes-container [props]="{rounded: true}">rounded container</nes-container>-->
<!--<nes-container [props]="{centered: true}">centered container</nes-container>-->

<!--<h3>Controller Icon</h3>-->
<!--<nes-controller-icon [props]="{controller: 'snes'}"></nes-controller-icon>-->
<!--<nes-controller-icon [props]="{controller: 'snes-jp'}"></nes-controller-icon>-->
<!--<nes-controller-icon [props]="{controller: 'nes'}"></nes-controller-icon>-->
<!--<nes-controller-icon [props]="{controller: 'nes-jp'}"></nes-controller-icon>-->

<!--<h3>Icons</h3>-->
<!--<nes-icon [props]="{icon: 'twitter'}"></nes-icon>-->

<!--<h3>List</h3>-->
<!--<nes-list [props]="{solid: true}">-->
  <!--<li>list item one</li>-->
  <!--<li>list item two</li>-->
<!--</nes-list>-->

<!--<h3>Progress</h3>-->
<!--<div style="width: 500px">-->
  <!--<nes-progress [props]="{value: 20, max: 120}"></nes-progress>-->
  <!--<nes-progress [props]="{value: 40, max: 120, primary: true}"></nes-progress>-->
  <!--<nes-progress [props]="{value: 60, max: 120, success: true}"></nes-progress>-->
  <!--<nes-progress [props]="{value: 80, max: 120, warning: true}"></nes-progress>-->
  <!--<nes-progress [props]="{value: 100, max: 120, error: true}"></nes-progress>-->
  <!--<nes-progress [props]="{value: 120, max: 120, pattern: true}"></nes-progress>-->
<!--</div>-->

<!--<h3>Radio</h3>-->
<!--<nes-radios [props]="{options: [{value: '1', label: 'one', checked: false}, {value: '2', label: 'two', checked: true}], groupName: 'test'}" (radioSelected)="test($event)"></nes-radios>-->
<!--<nes-radios [props]="{}"></nes-radios>-->

<!--<h3>Sprite</h3>-->
<!--<nes-sprite [props]="{sprite: 'ash'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'bcrikko'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'bulbasaur'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'charmander'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'kirby'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'mario'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'octocat'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'phone'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'pokeball'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'smartphone'}"></nes-sprite>-->
<!--<nes-sprite [props]="{sprite: 'squirtle'}"></nes-sprite>-->
