<h3>Avatar</h3>
<h4>small</h4>
<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'small': true}"></nes-avatar>
<h4>medium</h4>
<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'medium': true}"></nes-avatar>
<h4>large</h4>
<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'large': true}"></nes-avatar>
<h4>rounded</h4>
<nes-avatar [props]="{src: 'https://placehold.it/50x50', alt: 'alt text', 'rounded': true}"></nes-avatar>

<h3>Balloon</h3>
<h4>no arrow</h4>
<nes-balloon>Balloon</nes-balloon>
<h4>from left</h4>
<nes-balloon [props]="{fromLeft: true}">Balloon From Left</nes-balloon>
<h4>from right</h4>
<nes-balloon [props]="{fromRight: true}">Balloon From Right</nes-balloon>
